<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLERY</title>
    <link rel="stylesheet" href="css/gallery.css">
</head>

<body>
    <div class="head">
        <h1>Gallery</h1>
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="inner-container-box">
                <img src="images/hall.JPG" class="img-box" alt="">
            </div>
            <div class="inner-container-box">
                <img src="images/superDelux1.JPG" class="img-box" alt="">
            </div>
            <div class="inner-container-box">
                <img src="images/SUPERDELUX2.JPG" class="img-box" alt="">
            </div>
        </div>
        <div class="inner-container">
            <div class="inner-container-box">
                <img src="images/door.JPG" class="img-box" alt="">
            </div>
            <div class="inner-container-box">
                <img src="images/rooms_1.JPG" class="img-box" alt="">
            </div>
            <div class="inner-container-box">
                <img src="images/TSP_1281.JPG" class="img-box" alt="">
            </div>
        </div>
        <div class="inner-container">
            <div class="inner-container-box">
                <img src="images/bathroom.JPG" class="img-box" alt="">
            </div>
            <div class="inner-container-box">
                <img src="images/r1.JPG" class="img-box" alt="">
            </div>
            <div class="inner-container-box">
                <img src="images/TSP_1274.JPG" class="img-box" alt="">
            </div>
        </div>
</body>

</html>